body {
  background-color: #524C3E;
}

#canvas {
  /*border: 25px solid white;*/
  border-radius: 20px;
  height: 10000px;
  width: 800px;
  margin: 20px auto;
  position: relative;
  background-color: #FFEFC3;
}
/*header*/
h1 {
  margin: 30px auto;
  text-align: center;
  position: absolute;
  z-index: 10;
  font-family: 'Caveat Brush', cursive;
  font-size: 65px;
  line-height: 1;
}
#guac {
  font-family: 'Caveat Brush', cursive;
  font-size: 70px;
  color: #44B432;
}


#prep {
height: 28px;
width: 190px;
position: absolute;
top: 200px;
left: 0px;
z-index: 10;
text-decoration: none;
text-indent: 30px;
padding-top: 11px;
text-align: center;
font-family: 'Varela Round', sans-serif;
color: #44B432;
font-size: 20px;
}

/*recipe right side list*/
#ingredients{
height: 28px;
width: 190px;
position: absolute;
top: 200px;
right: 0px;
z-index: 10;
text-decoration: none;
text-indent: 30px;
padding-top: 11px;
font-family: 'Varela Round', sans-serif;
color: #524C3E;
font-size: 20px;
}
#prep h2 {
  border-radius: 0px 5px 5px 0px;
  color: #44B432;
}
#ingredients h2 {
  border-radius: 5px 0px 0px 5px;
  color: #44B432;
}
h2 {
  font-family: 'Varela Round', sans-serif;
  color: #44B432;
  font-size: 20px;
  background-color: #524C3E;
  z-index: 10;
}
strong {
  text-align: left;
}
#zoneavocado {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 28px;
  width: 200px;
  line-height: 1;
  padding-right: 10px;
  color: #524C3E;
  text-align: right;
  position: absolute;
  animation: ingredientlist 4s paused;
  animation-fill-mode: forwards;
  right: 0px;
  z-index: 10;
  top: 50px;
}
#zonelime {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 28px;
  width: 200px;
  padding-right: 10px;
  color: #524C3E;
  text-align: right;
  position: absolute;
  animation: ingredientlist 4s paused;
  animation-fill-mode: forwards;
  right: 0px;
  z-index: 10;
  top: 83px;
}
#zonespices {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 28px;
  width: 230px;
  padding-right: 10px;
  line-height: 1;
  color: #524C3E;
  text-align: right;
  position: absolute;
  animation: ingredientlist 4s paused;
  animation-fill-mode: forwards;
  right: 0px;
  z-index: 10;
  top: 110px;
}
#zoneonion {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 28px;
  width: 230px;
  padding-right: 10px;
  color: #524C3E;
  text-align: right;
  position: absolute;
  animation: ingredientlist 4s paused;
  animation-fill-mode: forwards;
  right: 0px;
  z-index: 10;
  top: 145px;
}
#zonepepper {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 28px;
  width: 240px;
  line-height: 1;
  padding-right: 10px;
  color: #524C3E;
  text-align: right;
  position: absolute;
  animation: ingredientlist 4s paused;
  animation-fill-mode: forwards;
  right: 0px;
  z-index: 10;
  top: 170px;
}
#zonetomato {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 28px;
  width: 230px;
  line-height: 1;
  padding-right: 10px;
  color: #524C3E;
  text-align: right;
  position: absolute;
  animation: ingredientlist 4s paused;
  animation-fill-mode: forwards;
  right: 0px;
  z-index: 10;
  top: 205px;
}
#zonecilantro {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 28px;
  width: 260px;
  line-height: 1;
  padding-right: 10px;
  color: #524C3E;
  text-align: right;
  position: absolute;
  animation: ingredientlist 4s paused;
  animation-fill-mode: forwards;
  right: 0px;
  z-index: 10;
  top: 240px;
}
#zonegarlic {
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 28px;
  width: 260px;
  line-height: 1;
  padding-right: 10px;
  color: #524C3E;
  text-align: right;
  position: absolute;
  animation: ingredientlist 4s paused;
  animation-fill-mode: forwards;
  right: 0px;
  z-index: 10;
  top: 260px;
}
@keyframes ingredientlist {
    0% {opacity: 0; font-size: 9px; }
    100% {opacity: none; font-size: 13px; }
}
/*nav {
    position: fixed;
    bottom: 0px;
    right: 50px;
    z-index: 10;
}

nav ul {
    position: relative;
    list-style: none;
}

nav ul li {
    background: 0px 0px url("https://cdn0.iconfinder.com/data/icons/simply-orange-1/128/Artboard_9svg-128.png") no-repeat;
    line-height: 0.7em;
    margin-bottom: 32px;
    height: 18px;
    width: 18px;
}

nav ul li a {
    display: none;
    position: absolute;
    right: 40px;
    color: #F26A47;
    text-decoration: none
}*/


#bowl {
position: absolute;
top: 200px;
left:250px;
height: 300px;
width: 300px;
z-index: 10;
}


/*zone-avocado*/
#oneavocado {
  border: 2px solid red;
  position: absolute;
  top: 700px;
  left: 500px;
  height: 200px;
  width: 200px;
  z-index: 12;
  animation: ingredientlist 4s;
  animation-fill-mode: forwards;
}
#twoavocado {
    border: 2px solid red;
    position: absolute;
    top: 700px;
    right: 500px;
    height: 200px;
    width: 200px;
    z-index: 12;
  /*transform: translate(700px, 0);*/
}
#threeavocado {
    border: 2px solid red;
    position: absolute;
    top: 700px;
    right: 300px;
    height: 200px;
    width: 200px;
    z-index: 12;
  }


/*zonelime*/

#lime {
  border: 2px solid green;
  position: absolute;
  top: 1700px;
  left: 500px;
  height: 200px;
  width: 200px;
  z-index: 12;
}

/*zonespices*/
#salt {
  border: 2px solid brown;
  position: absolute;
  top: 2100px;
  right: 500px;
  height: 200px;
  width: 200px;
  z-index: 12;
}
#cumin {
  border: 2px solid brown;
  position: absolute;
  top: 2000px;
  left: 500px;
  height: 200px;
  width: 200px;
  z-index: 12;
}
#cayenne {
  border: 2px solid brown;
  position: absolute;
  top: 2000px;
  right: 300px;
  height: 200px;
  width: 200px;
  z-index: 12;
}

/*zoneonion*/
#onion {
  border: 2px solid orange;
  position: absolute;
  top: 3300px;
  left: 500px;
  height: 200px;
  width: 200px;
  z-index: 12;
}

/*zonepepper*/
#pepper {
  border: 2px solid blue;
  position: absolute;
  top: 4000px;
  right: 500px;
  height: 200px;
  width: 200px;
  z-index: 12;
}

/*zonetomato*/
#onetomato {
  border: 2px solid pink;
  position: absolute;
  top: 4700px;
  right: 600px;
  height: 200px;
  width: 200px;
  z-index: 12;
}
#twotomato {
  border: 2px solid pink;
  position: absolute;
  top: 4700px;
  left: 550px;
  height: 200px;
  width: 200px;
  z-index: 12;
}

/*zonecilantro*/
#cilantro {
  border: 2px solid green;
  position: absolute;
  top: 5100px;
  left: 350px;
  height: 200px;
  width: 200px;
  z-index: 12;
}

/*zonegarlic*/
#garlic {
  border: 2px solid orange;
  position: absolute;
  top: 6000px;
  right: 450px;
  height: 200px;
  width: 200px;
  z-index: 12;
}

/*finish or footer */
#finish {
  bottom: 0px;
  left: 140px;
  position: absolute;
  margin: auto;
  z-index: 11;
}
h3 {
  font-family: 'Caveat Brush', cursive;
  text-align: center;
  font-size: 40px;

}

h4 {
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -10px;
}

footer {
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  text-align: center;
}
h5 {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  line-height: 12px;
}
h6  {
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  margin: 5px;
}

h5>a:link, a:visited {
  color: #44B432;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
}
h5>a:hover {
  color: #524C3E;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}
